In [47]:
import numpy as np
import pandas as pd

In [48]:
horas = 'AB CD AB CD'.split()
dias = 'dom seg ter qua qui sex sab'.upper().split()
horarios = [
  'dev pl lcomp cdad lcomp pl dev'.upper().split(),
  'Dev - - - - CDad Dev'.upper().split(),
  'dev b b b b b dev'.upper().split(),
  'dev - - - - - dev'.upper().split()
]

cronograma = pd.DataFrame( data=horarios, columns=dias, index=horas)

In [49]:
cronograma

    DOM SEG    TER   QUA    QUI   SEX  SAB
AB  DEV  PL  LCOMP  CDAD  LCOMP    PL  DEV
CD  DEV   -      -     -      -  CDAD  DEV
AB  DEV   B      B     B      B     B  DEV
CD  DEV   -      -     -      -     -  DEV

In [50]:
cronograma

    DOM SEG    TER   QUA    QUI   SEX  SAB
AB  DEV  PL  LCOMP  CDAD  LCOMP    PL  DEV
CD  DEV   -      -     -      -  CDAD  DEV
AB  DEV   B      B     B      B     B  DEV
CD  DEV   -      -     -      -     -  DEV