In [2]:
import numpy as np

In [4]:
import pandas as pd

In [8]:
labels = ['a', 'b', 'c']
my_data = [10, 20, 30]
arr = np.array(my_data)
d = {'a':10, 'b':20, 'c':30}

In [24]:
print(f'labels: {labels}')
print(f'my_data: {my_data}')
print(f'arr: {arr}')
print(f'd: {d}')

labels: ['a', 'b', 'c']
my_data: [10, 20, 30]
arr: [10 20 30]
d: {'a': 10, 'b': 20, 'c': 30}

In [29]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [30]:
pd.Series(data=my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [31]:
pd.Series(my_data, labels)

a    10
b    20
c    30
dtype: int64

In [32]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [33]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int32

In [34]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [36]:
pd.Series(data=labels, index=my_data)

10    a
20    b
30    c
dtype: object

In [40]:
pd.Series(data=[sum, print, len], index=['sum', 'print', 'len'])

sum        <built-in function sum>
print    <built-in function print>
len        <built-in function len>
dtype: object

In [44]:
ser1 = pd.Series([1, 2, 3, 4], ['USA', 'Germany', 'USRR', 'Japan'])
ser1

USA        1
Germany    2
USRR       3
Japan      4
dtype: int64

In [47]:
ser2 = pd.Series([1, 2, 5, 4], ['USA', 'Germany', 'Italy', 'Japan'])
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [50]:
ser1['USA']

1

In [53]:
ser3 = pd.Series(data=labels)

In [54]:
ser3

0    a
1    b
2    c
dtype: object

In [55]:
ser1

USA        1
Germany    2
USRR       3
Japan      4
dtype: int64

In [56]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [59]:
ser1+ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USRR       NaN
dtype: float64