In [134]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [135]:
outside = 'g1 g1 g1 g2 g2 g2'.upper().split()
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [136]:
hier_index = pd.MultiIndex.from_tuples(hier_index)
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [137]:
df = pd.DataFrame(data=randn(6, 2), index = hier_index, columns=['A', 'B'])
df

             A         B
G1 1  1.310557 -0.526345
   2  0.929553 -0.848888
   3  2.095680  0.809407
G2 1  0.219215  0.470236
   2 -1.288664 -0.208471
   3  0.866046  1.231700

In [138]:
df.loc['G1']

          A         B
1  1.310557 -0.526345
2  0.929553 -0.848888
3  2.095680  0.809407

In [139]:
df.loc['G1'].loc[1]

A    1.310557
B   -0.526345
Name: 1, dtype: float64

In [140]:
df.index.names = ['Groups', 'Num']

In [141]:
df

                   A         B
Groups Num
G1     1    1.310557 -0.526345
       2    0.929553 -0.848888
       3    2.095680  0.809407
G2     1    0.219215  0.470236
       2   -1.288664 -0.208471
       3    0.866046  1.231700

In [142]:
df.loc['G1'].loc[3]['A']

2.095679814636409

In [143]:
df['B']['G1'][2] = None

In [144]:
df

                   A         B
Groups Num
G1     1    1.310557 -0.526345
       2    0.929553       NaN
       3    2.095680  0.809407
G2     1    0.219215  0.470236
       2   -1.288664 -0.208471
       3    0.866046  1.231700

In [149]:
df.xs(2, level='Num') #cross-section

               A         B
Groups
G1      0.929553       NaN
G2     -1.288664 -0.208471